.colorpickerTable
    .input-group
        position relative
        display flex
        flex-wrap wrap
        -webkit-box-align stretch
        align-items stretch
        width 50%
        .input-group-prepend
            margin-right -1px
        .input-group-text
            display flex
            -webkit-box-align center
            align-items center
            padding 0.375rem 0.75rem
            margin-bottom 0
            color #495057
            text-align center
            white-space nowrap
            background-color #e9ecef
            border 1px solid #ced4da
            border-radius 0.25rem
        .form-control
            position relative
            -webkit-box-flex 1
            flex 1 1 auto
            width 1%
            margin-bottom 0
        .g-colormaps-settings-color
            .input-group-addon:first-child
                border-right 1
        